on: push
name: CI
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@master
            - name: npm install
              run: npm install
            - name: lint
              run: npm run lint
            - name: compile typescript
              run: tsc
            - name: test
              run: npx c8 npx jest
            - name: coverage
              run: npx c8 check-coverage --lines 99 --functions 99 --branches 99 --statements 99
            - name: examples do not crash
              run: for f in examples/*.js; do node $f || exit 1; done
